<h2>Bookmark Details</h2>
	<div>
		<div><b><u>URL:</u></b></div>
		<div><a href="{{.Url}}" target="_blank" class="greenlink">{{.Url}}</a></div>
		<div><b><u>Name:</u></b></div>
		<div>{{.Title}}</div>
		<div><b><u>Description:</u></b></div>
		<div>{{.Description}}</div>
		<div><b><u>Rating:</u></b></div>
		<div>{{.Rating}}</div>
		<div><b><u>Date Bookmarked:</u></b></div>
		<div>{{.DateCreated}}</div>
	</div>
	<div><p><a href="../bookmarks" class="greenlink">Back to Index</a></p></div>
