<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link href="style/main.css" rel="stylesheet" type="text/css">
<html>
  <div id="container">
    <div class="header">
      <h3>Password Generator v3</h3>
    </div>
    <div class="body">
      <div class="formbox">
        <form name="form1" method="POST" action="/">
          <div class="clear">
            <div class="leftformelem">Number of passwords to generate:</div>
            <div class="rightformelem"><input type="text" id="number" name="number" value="{{.NumberPasswords}}"/></div>
          </div>
           <div class="clear">
             <div class="leftformelem">Size of each password:</div>
             <div class="rightformelem"><input type="text" id="size" name="size" value="{{.PasswordSize}}"/></div>
           </div>
           <div class="clear">
             <div class="leftformelem">Include special characters:</div>
             <div class="rightformelem"><input type="checkbox" name="specchars" {{.SpecChars}} /></div>
           </div>
           <div class="clear">
             <div class="leftformelem">Include uppercase characters:</div>
             <div class="rightformelem"><input type="checkbox" name="ucchars" {{.UcChars}} /></div>
           </div>
           <div class="vspace20"></div>
           <div class="clear">
             <div class="rightformelem"><input type="submit" value="Create Passwords" /></div>
           </div>
        </form>
      </div>
      <div class="clear passwordbox">
        {{ range.Passwords }}
        <div class="password">{{.}}</div>
        {{ else }}
        {{ end }}
      </div>
    <div>
  </div>
</html>
