<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
        <meta name="description" content="Website that demonstrates some uses of the programming language PHP" />
        <meta name="keywords" content="PHP, examples, date, time, cookies, contact, forms, menus" />
        <meta name="author" content="Shawn Wonder">
        <!--<link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
        <link href="http://swonder.php.cs.dixie.edu/cs4000/slim/style/simplegrid.css" rel="stylesheet" />
        <link href="http://swonder.php.cs.dixie.edu/cs4000/slim/style/main2.css" rel="stylesheet" />-->
        <title>Go Client</title>
    </head>
    <body>
        <div class="grid" id="container">
        <div class="col-1-1" id="header1">
            <div class="col-1-1" id="logo">
		<div class="col-1-1" style="text-align: right; padding-top: 10px;">Bookmarks Go Client</div>
            </div>
            <div class="col-1-1" id="topmenubar">
                <ul class="nav">
                         <li class="menuitem"><a href="/bookmarks" class="highlight">Bookmarks</a></li>
		    	</ul>
	    </div>
        </div>
        <div class="col-1-1" id="content">
<!--{{yield}}-->
    		</div>
    		<div class="col-1-1" id="footer">
    		</div>
    	</div>
    </body>
</html>
